html
{
  // ../public/img/Page-Connexion.png
  background-image: url(img/fond/Page-Accueil.png);
  background-size: cover;
}

@font-face 
{
  font-family: "Hero New";
  src: url("./Hero_New/2MASS J1808-Normal (personal use).otf") format("opentype");
}

@font-face 
{
  font-family: "SF_Pro_Display";
  src: url("./sf-pro-display/SF-Pro-Display-Regular.otf") format("opentype");
}
// Logo
 
.SquidSearch
{
  font-family: "Hero New";
  color: #417ae9;
  text-align: center;
  margin: 10vh;
  font-size: 11px;
}

.logo
{
  margin-top: 8vh;
  height: 56px;
  width: 54.85px;
}

// Positionnement

.Centrer
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.colone
{
  flex-direction: column;
}

// Ecriture

.bold
{
  font-weight: bold;
}

// ------ Recherche ------ //

.CentrerSearch
{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Recherche-Texte
{
  font-family: "SF_Pro_Display";
  font-size: 20px;
  margin-top: 3vh;
}

.Barre-de-recherche
{
  border-radius: 35px 0px 0px 35px;
  border: 1px solid;
  border-right: 0px solid;
  border-color: #707070;
  width: 246px;
  height: 52px;
}

.Bouton-de-recherche
{
  border-radius: 0px 0px 35px 0px;
  border: 1px solid;
  border-left: 0px solid;
  border-color: #707070;
  background-color: #417AE9;
  width: 72px;
  height: 52px;
}

// ------ Catégorie ------ //

.cat
{
  padding: 10px;
}

.Langues
{
  height: 26px;
  width: px;
  margin: 0px 10px;
  margin-bottom: 80px;
  padding: 0px 20px;
  border-radius: 51px;
  border: 0px;
  background-color: #A3A2A0;
  font-family: "SF_Pro_Display";
  font-size: 15px;
  color: #ffffff;
}

.Categorie
{
  border-radius: 0px 35px 35px 35px;
  border: 0px solid;
  border-left: 0px solid;
  width: 154px;
  height: 52px;
  margin-bottom: 13px;
  color : white;
}

.vert
{
  background-color : #66B784;
}

.bleu
{
  background-color : #417ae9;
}

.jaune
{
  background-color : #f8cb57;
}

.orange
{
  background-color : #ee8450;
}

// ------ Définition ------ //

.definition
{
  padding: 20px 50px;
  margin: 20px;
  border-radius: 0px 26px 26px 26px;
  border: 0px solid;
  border-left: 0px solid;
  margin-bottom: 13px;
}

.slid
{
    height: fit-content;
    overflow-y: scroll;
    
}
.slid::-webkit-scrollbar{
  display: none;
}

.test{
  height: 100px;
}